aniso8601
atomicwrites==1.4.0
attrs==19.3.0
blinker==1.4
brotlipy==0.7.0
certifi==2021.10.8
cffi
chardet
click==8.0.3
colorama
coverage==5.1
cryptography
flasgger==0.9.5
Flask==2.0.2
Flask-Cors==3.0.8
Flask-JWT-Extended
Flask-Mail==0.9.1
Flask-RESTful
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
idna==2.9
importlib-metadata==4.10.0
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema
MarkupSafe==2.0.1
mistune==2.0.2
more-itertools==8.2.0
packaging==20.3
pluggy
PyJWT
pyOpenSSL
pyparsing
pyrsistent==0.16.0
PySocks
pytest==5.4.2
pytest-cov==2.8.1
python-dateutil
pytz==2020.1
PyYAML==6.0
requests==2.23.0
six
SQLAlchemy==1.4.29
typing_extensions==4.0.1
urllib3==1.25.9
wcwidth==0.1.9
Werkzeug==2.0.3
zipp
gunicorn