aniso8601==9.0.1
atomicwrites==1.4.0
attrs==19.3.0
brotlipy==0.7.0
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
click==8.0.3
coverage==5.1
Flask==2.0.2
Flask-Caching==1.10.1
Flask-Cors==3.0.8
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
idna==2.9
importlib-metadata==4.10.0
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==4.4.0
MarkupSafe==2.0.1
more-itertools==8.2.0
packaging==20.3
pluggy==0.13.1
py==1.8.1
pycparser==2.21
pyparsing==3.0.7
pyrsistent==0.16.0
pytest==5.4.2
pytest-cov==2.8.1
pytest-cover==3.0.0
pytest-coverage==0.0
pytz==2020.1
requests==2.23.0
rfc3339-validator==0.1.4
six==1.16.0
SQLAlchemy==1.4.29
typing_extensions==4.0.1
urllib3==1.25.9
wcwidth==0.1.9
Werkzeug==2.0.2
zipp==3.7.0
