<!DOCTYPE html>
<html lang="en">
<head>
    <title>BYC - Book Your Court</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/unicons.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/header.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/edit_profile.css')}}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.12.0.min.js')}}"></script>
</head>
<body>
    <div class="logo-wrap">
        <img src="https://raw.githubusercontent.com/tuminguyen/PWP/master/src/static/img/BYC_logo.jpg">
        <div class="header-bar">
            <h1>Book Your Court Today!</h1>
            <div class="dropdown">
                  <button class="dropbtn">Hi, {{ username }}</button>
                  <div class="dropdown-content">
                    <a href="/{{username}}/reservations/">Your reservations</a>
                    <a href="/{{username}}/profile/">Edit profile</a>
                    <a href="/{{username}}/booking/badminton">Book courts</a>
                    <a href="/">Log out</a>
                  </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center">
                    <div class="section text-center">
                        <h2>
                            <span>Personal information</span>
                        </h2>
                        <div class="card-3d-wrap h-500 w-500">
                            <div class="card-3d-wrap-insider">
                                <div class="card-front">
                                    <div class="center-wrap">
                                        <form action="/{{username}}/profile/" method="POST">
                                        <table id="w0" class="table txt-left">
                                            <tbody>
                                                <tr>
                                                    <th>Username</th>
                                                    <td>{{ username }}</td>
                                                </tr>
                                                <tr>
                                                    <th>First name</th>
                                                    <td><input type="text" name='fname' value="{{ fname }}"/></td>
                                                </tr>
                                                <tr>
                                                    <th>Last name</th>
                                                    <td><input type="text" name='lname' value="{{ lname }}"/></td>
                                                </tr>
                                                <tr>
                                                    <th>Phone</th>
                                                    <td><input type="text" name='phone' value="{{ phone }}"/></td>
                                                </tr>
                                                <tr>
                                                    <th>Address</th>
                                                    <td><input type="text" name='addr' value="{{ addr }}"/></td>
                                                </tr>
                                                <tr>
                                                    <th>Email</th>
                                                    <td>{{ email }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button type="submit" class="btn mt-1 mb-3">Save</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <span>Copyright © 2022 tuminguyen</span>
    </div>
</body>
</html>