<!DOCTYPE html>
<html lang="en">
<head>
    <title>BYC - Book Your Court</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/unicons.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css')}}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.12.0.min.js')}}"></script>
</head>
<body>
<div class="logo-wrap">
    <img src="https://raw.githubusercontent.com/tuminguyen/PWP/master/src/static/img/BYC_logo.jpg">
    <h1>Book Your Court Today!</h1>
</div>
<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center">
                <div class="section text-center">
                    <h2>
                        <span>Forgot your password?</span>
                    </h2>
                    <div class="card-3d-wrap h-400">
                        <div class="card-3d-wrap-insider">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="txt-left mb-2">
                                        <p>Please enter your registered username and email the in the fields below.
                                        We will send you an email with your password information shortly. </p>
                                    </div>
                                    <div class="text-center">
                                        <form action="/resend-password" method="POST" class="mt-3">
                                            <div class="form-group">
                                                <input type="email" name="log-email" class="form-style"
                                                       placeholder="Your Email" id="log-email" autocomplete="off">
                                                <i class="input-icon fa fa-envelope"></i>
                                            </div>
                                            <button type="submit" class="btn mt-3 mb-2">Send</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copy-right">
    <span>Copyright © 2022 tuminguyen</span>
</div>
</body>
</html>