<!DOCTYPE html>
<html lang="en">
<head>
    <title>BYC - Book Your Court</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/unicons.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/header.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/own_reservations.css')}}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery-1.12.0.min.js')}}"></script>
</head>
<body>
    <div class="logo-wrap">
        <img src="https://raw.githubusercontent.com/tuminguyen/PWP/master/src/static/img/BYC_logo.jpg">
        <div class="header-bar">
            <h1>Book Your Court Today!</h1>
            <div class="dropdown">
                  <button class="dropbtn">Hi, {{ username }}</button>
                  <div class="dropdown-content">
                    <a href="/{{username}}/reservations/">Your reservations</a>
                    <a href="/{{username}}/profile/">Edit profile</a>
                    <a href="/{{username}}/booking/badminton">Book courts</a>
                    <a href="/">Log out</a>
                  </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center">
                    <h2 class="text-center">Your Reservations</h2>
                    <div class="card-3d-reservation">
                        <div class="card-content">
                            <div class="card-content-center-wrap">
                                <table id="w0" class="table txt-left">
                                      <tbody>
                                      {% for book in booking %}
                                      <form action="/{{username}}/reservations/delete/{{book['id']}}" method="POST">
                                      <tr>
                                        <td>
                                            <button class="btn" type="submit"><i class="fa fa-trash"></i></button>
                                        </td>
                                        <td>
                                            <strong>{{ book['date'] }}</strong>
                                            <br>
                                            {{ book['time'] }}
                                            <br>
                                            {{ book['court_info'] }}
                                            <br>
                                        </td>
                                      </tr>
                                      </form>
                                      {% endfor %}
                                    </tbody>
                                </table>
                                <div class="back-booking">
                                    <a name="submit-btn" href="/{{username}}/booking/badminton" class="link">Go to booking</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <span>Copyright © 2022 tuminguyen</span>
    </div>
</body>
</html>